<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASTManualControl</title>
    <style>
        .bk{
            background-image: url(/static/ASTMC.gif);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="bk">
    <a href="/MDPortal" style="background-color: white;"><img src="/static/FypNewLogo.svg" height="50px" width="100px" style="float: left;margin-top:0;padding:none;"></a><br>
</body>
</html>