{% extends 'SecondLayout.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Inquiry</title>
    <style>
        .bk{
            background-color: rgba(192, 192, 192, 0.719);
        }
        table, th, td {
            border: 1px solid black;
            font-weight: bold;
            margin:auto;
            padding: 5px;
            text-align: center;
        }
        td{
            width: 200px;
        }
    </style>
</head>
<body class="bk">
    {% if session.md_logged_in %}
        <a href="/MDPortal"><img src="/static/FypNewLogo.svg" height="50px" width="100px" style="float: left;margin-top:0;padding:none;"></a><br>
    {% elif session.admin_logged_in %}
        <a href="/AdminPortal"><img src="/static/FypNewLogo.svg" height="50px" width="100px" style="float: left;margin-top:0;padding:none;"></a><br>
    {% endif %}
    <div style="text-align: center;">
    <h2 style="font-weight: bold;"><q>CUSTOMER INQUIRY</q></h2>
    <form action="/search" method="POST" enctype="multipart/form-data" style="float: right;">
        <input type="text" name="search" placeholder="Name/Username"><input type="submit" value="SEARCH" style="background-color: greenyellow;font-weight: bold;">
    </form>
    </div><br><br>
    <table>
            <th style="background-color: black;color:white">USERNAME</th>
            <th style="background-color: black;color:white">Name</th>
            <th style="background-color: black;color:white;">CNIC</th>
            <th style="background-color: black;color:white;">GENDER</th>
            <th style="background-color: black;color:white;">CELL</th>
            <th style="background-color: black;color:white;">ROOM NUMBER</th>
            <th style="background-color: black;color:white;">PACKAGE</th>
            <th style="background-color: black;color:white;">BILL</th>
            <th style="background-color: black;color:white;">COUNTRY</th>
            <th style="background-color: black;color:white;">DATE OF REGISTER</th>
            <th style="background-color: black;color:white;">CHECK OUT</th>  
        
    {% for i in data %}
        <tr>
            <td>{{i.username}}</td>
            <td>{{i.customer_name}}</td>
            <td>{{i.cnic}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.phone_number}}</td>
            <td>{{i.room_number}}</td>
            <td>{{i.package}}</td>
            <td>{{i.bill}}</td>
            <td>{{i.country}}</td>
            <td>{{i.date_of_register}}</td>
            <td>{{i.checkout}}</td>
        </tr>
    {% endfor %}
    </table>
    
</body>
</html>
{% endblock %}