{% extends 'SecondLayout.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bg{
            background-color: burlywood;
        }
    </style>
</head>
<body class="bg">
    <center><h1 style="font-weight: bold;text-decoration: underline;">LIFT PORTAL</h1><br><br>
    <h3 style="font-weight: bold;">Status : {{data.status}}</h3>
    <h3 style="font-weight: bold;">Room : {{data.room}}</h3>
    </center>
</body>
</html>
{% endblock %}